@layer utilities {
	.pm-unfocused-selection {
		background-color: var(--pmUnfocusedSelectionColor);
		box-shadow: 5px 0 0 0 var(--pmUnfocusedSelectionColor);
	}
	.pm-unfocused-selection-end {
		box-shadow:none;
	}
}
